/* FOOTER */
footer{
    padding: 1em;
    font-size:map-get($font-sz, font-s);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    color: $color-secundario;
}
.socials-footer{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.social{
    width: 70px;
    padding: 0.5em;
}
.copy{
    text-align: center;
}