 /* SOBRE NOSOTROS*/
 .banner-nosotros{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: white;
}
.texto{
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: $color-principal;
}
.texto h1{
    font-size: map-get($font-sz, font-xxl );
    padding: 1em 1em 0 1em;
}
.texto p{
    font-size: map-get($font-sz, font-m );
    padding: 0 1em 0 1em;
}


