 /* SOBRE NOSOTROS*/
 .banner-nosotros{
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: $secondary-color;
}
.texto{
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $color-principal;
    color: $color-secundario;
}
.texto h1{
    padding: 1em 1em 0 1em;
}
.texto p{
    padding: 0 1em 0 1em;
}


