*{
    margin: 0;
    padding: 0;
    font-family:'Kanit', sans-serif;
    }
    
$color-principal: #cb997e;
$color-secundario: #ffe8d6;
$color-terciario: #A5A58D;

$font-sz: (
    'font-xs': 15px,
    'font-s': 20px,
    'font-m': 30px,
    'font-l': 35px,
    'font-xl': 40px,
    'font-xxl': 60px,
    'font-xxxl': 75px
)